# Casandra Task

In [2]:
#imports and installations
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import pandas as pd

In [3]:
#connection, keyspace and cluster creation
cloud_config= {
        'secure_connect_bundle': 'secure-connect-assignment1.zip' # replace <</PATH/TO/>> with the path where your downloaded bundle was downloaded (make sure to place this python file in the same place as well)
}
auth_provider = PlainTextAuthProvider('AlYZEYlqtkroRQwpIkRQghaF', 'u9TjXXLwtq-mhPTJN+LiHPNYONaW8ONE8gdhG053PPixyMXuZHF8MBSyAE9wFT+h3qwbBFN7zMbnbIlZsQKRundj8Qj3,GndH.48S6wvR0swA0KDenJh1rAGZikpZnLp') # replace <<CLIENT ID>> and <<CLIENT SECRET>> with the ClientID and Client Secret from your generated token
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

# -✔️-- Describing a keyspace

session.set_keyspace('taxidata') # replace <<KEYSPACENAME>> with the name of the keyspace you created in DataStax
row = cluster.metadata.keyspaces['taxidata'] # replace <<KEYSPACENAME>> with the name of the keyspace you created in DataStax

from pprint import pprint
pprint(vars(row))

{'aggregates': {},
 'durable_writes': True,
 'functions': {},
 'graph_engine': None,
 'indexes': {},
 'name': 'taxidata',
 'replication_strategy': <cassandra.metadata.NetworkTopologyStrategy object at 0x000001CDE8588FD0>,
 'tables': {'taxitrip': <cassandra.metadata.TableMetadataV3 object at 0x000001CDE8589210>},
 'user_types': {},
 'views': {}}

In [13]:
#data preparation
data = pd.read_csv("taxi_trip_data.csv", nrows = 20000)
geo = pd.read_csv("taxi_zone_geo.csv")

print(data.isnull().sum())

vendor_id              0
pickup_datetime        0
dropoff_datetime       0
passenger_count        0
trip_distance          0
rate_code              0
store_and_fwd_flag     0
payment_type           0
fare_amount            0
extra                  0
mta_tax                0
tip_amount             0
tolls_amount           0
imp_surcharge          0
total_amount           0
pickup_location_id     0
dropoff_location_id    0
dtype: int64

In [14]:
data = data.dropna(axis = 0)

In [15]:
data = data.drop(["store_and_fwd_flag", "rate_code", "total_amount"], axis = 1)

In [16]:
data.shape

(20000, 14)

In [ ]:
data.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,pickup_location_id,dropoff_location_id
0,1,2018-05-11 17:40:16,2018-05-11 17:55:35,1,1.60,1,11.5,1.0,0.5,0.00,0.0,0.3,48.0,68.0
1,2,2018-03-22 23:01:41,2018-03-22 23:25:36,1,9.52,1,28.5,0.5,0.5,5.96,0.0,0.3,138.0,230.0
2,2,2018-07-24 09:58:45,2018-07-24 10:22:37,1,2.17,1,15.5,0.0,0.5,1.50,0.0,0.3,234.0,48.0
3,2,2018-12-21 18:28:55,2018-12-21 18:35:45,1,0.86,2,6.0,1.0,0.5,0.00,0.0,0.3,79.0,125.0
4,1,2018-08-15 13:58:39,2018-08-15 14:05:25,1,0.30,2,5.5,0.0,0.5,0.00,0.0,0.3,233.0,233.0

In [17]:
#merge
data = data[data['pickup_location_id'].isin(geo['zone_id'])]
#to make sure that ids in tripdata are in geo data
data = data.merge(geo, left_on = 'pickup_location_id', right_on='zone_id')

In [ ]:
data.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,pickup_location_id,dropoff_location_id,zone_id,zone_name,borough,zone_geom
0,1,2018-05-11 17:40:16,2018-05-11 17:55:35,1,1.60,1,11.5,1.0,0.5,0.00,0.0,0.3,48,68,48,Clinton East,Manhattan,"POLYGON((-73.9907263629999 40.7559504059999, -..."
1,2,2018-03-22 23:01:41,2018-03-22 23:25:36,1,9.52,1,28.5,0.5,0.5,5.96,0.0,0.3,138,230,138,LaGuardia Airport,Queens,MULTIPOLYGON(((-73.8728849699182 40.7859626331...
2,2,2018-07-24 09:58:45,2018-07-24 10:22:37,1,2.17,1,15.5,0.0,0.5,1.50,0.0,0.3,234,48,234,Union Sq,Manhattan,"POLYGON((-73.9899776669999 40.7349792549999, -..."
3,2,2018-12-21 18:28:55,2018-12-21 18:35:45,1,0.86,2,6.0,1.0,0.5,0.00,0.0,0.3,79,125,79,East Village,Manhattan,"POLYGON((-73.9834436359999 40.7220185069999, -..."
4,1,2018-08-15 13:58:39,2018-08-15 14:05:25,1,0.30,2,5.5,0.0,0.5,0.00,0.0,0.3,233,233,233,UN/Turtle Bay South,Manhattan,MULTIPOLYGON(((-73.9642119246275 40.7466666768...

In [21]:
session.execute("drop table taxitrip")

In [22]:
session.execute("create table taxitrip (trip_id text, vendor_id text, pickup_datetime text, dropoff_datetime text, passenger_count int, trip_distance double, payment_type int, fare_amount double, extra double, mta_tax double, tip_amount double, tolls_amount double, imp_surcharge double, pickup_location_name text, Primary key(trip_id))")

In [23]:
#insertion
from datetime import datetime
tripdata = []

for x in range(0,len(data)):
  tripdata = tripdata + [{
      'trip_id': '%s' %str(x), 
      'vendor_id' : '%s' %(data.iloc[x]["vendor_id"]),
      'pickup_datetime' : data.iloc[x]["pickup_datetime"],
      'dropoff_datetime' :data.iloc[x]["dropoff_datetime"],
      'passenger_count' : int(data.iloc[x]["passenger_count"]),
      'trip_distance': float(data.iloc[x]["trip_distance"]),
      'payment_type': int(data.iloc[x]["payment_type"]),
      'fare_amount': float(data.iloc[x]["fare_amount"]),
      'extra' : float(data.iloc[x]["extra"]),
      'mta_tax': float(data.iloc[x]["mta_tax"]),
      'tip_amount': float(data.iloc[x]["tip_amount"]),
      'tolls_amount': float(data.iloc[x]["tolls_amount"]),
      'imp_surcharge': float(data.iloc[x]["imp_surcharge"]),
      'pickup_location_name': '%s' %(data.iloc[x]["zone_name"])
  }]

In [ ]:
tripdata[1]["trip_id"]

'1'

In [24]:
query = session.prepare("""
    insert into taxitrip(trip_id, vendor_id, pickup_datetime, dropoff_datetime, passenger_count, trip_distance, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, imp_surcharge, pickup_location_name) values (?,?,?,?,?,?,?,?,?,?,?,?,?,?)
""")
for x in range(0,len(tripdata)):
  session.execute(query,(tripdata[x]["trip_id"], tripdata[x]["vendor_id"],tripdata[x]["pickup_datetime"],tripdata[x]["dropoff_datetime"],tripdata[x]["passenger_count"],tripdata[x]["trip_distance"],tripdata[x]["payment_type"],tripdata[x]["fare_amount"],tripdata[x]["extra"],tripdata[x]["mta_tax"],tripdata[x]["tip_amount"],tripdata[x]["tolls_amount"],tripdata[x]["imp_surcharge"],tripdata[x]["pickup_location_name"]))

In [31]:
res = session.execute("select * from taxitrip where trip_id = '1'")
for i in res:
  print(i.dropoff_datetime)

2018-03-22 23:25:36

In [32]:
session.execute("alter table taxitrip add trip_duration text")

In [ ]:
from datetime import datetime
results = session.execute("select * from taxitrip")
durations = []

format = "%Y-%m-%d %H:%M:%S"

for row in results:
  start = datetime.strptime(row.pickup_datetime, format)
  end = datetime.strptime(row.dropoff_datetime, format)
  duration = end - start
  durations = durations + [{'trip_id': row.trip_id,'duration': str(duration)}]

for x in range(0,len(durations)):
  session.execute("update taxitrip set trip_duration = %s where trip_id = %s", (durations[x]["duration"], durations[x]["trip_id"]))

In [9]:
session.execute("alter table taxitrip add total_trip_cost double")

In [10]:
#total cost calculation
results = session.execute("select * from taxitrip")
results_cost = []


for row in results:
    results_cost = results_cost + [{'trip_id': row.trip_id, 'total_cost': float(row.fare_amount + row.extra + row.mta_tax + row.tip_amount + row.tolls_amount + row.imp_surcharge)}]

# print(results_cost[0])

{'trip_id': '1683', 'total_cost': 72.23}

In [15]:
for x in range(len(results_cost)):
  session.execute("update taxitrip set total_trip_cost = %s where trip_id = %s", (results_cost[x]["total_cost"], results_cost[x]["trip_id"]))

OperationTimedOut: errors={'c5ae0a1a-302d-4403-841a-cdb4bdbbd981-us-east1.db.astra.datastax.com:29042:35b8121d-0bf7-458a-a4f4-d37143d8d54c': 'Client request timeout. See Session.execute[_async](timeout)'}, last_host=c5ae0a1a-302d-4403-841a-cdb4bdbbd981-us-east1.db.astra.datastax.com:29042:35b8121d-0bf7-458a-a4f4-d37143d8d54c

#### Extracting the most common payment type used per time of day

In [26]:
# Cassandra queries:
pickup_payment_data = list(session.execute("select payment_type, pickup_datetime from taxitrip"))
# ----------------
pickup_payment_data = pd.DataFrame(pickup_payment_data, columns = ['payment_type', 'pickup_datetime'])
# Now i'll use the dataframe and group by payment type
pickup_payment_data['pickup_datetime'] = pd.to_datetime(pickup_payment_data['pickup_datetime']) # converting the column to datetime format
pickup_payment_data['exact_hour'] = pickup_payment_data['pickup_datetime'].dt.hour # extracting the exact hour of the day

pickup_payment_data['time_of_day'] = pd.cut(pickup_payment_data['exact_hour'], bins=[0, 12, 18, 24], labels=['morning', 'afternoon', 'evening'], right= False)  # creating a new column to show the time of day through cutting the hours into 3 parts by bins
pickup_payment_data['payment_type'].value_counts() # checking the most common payment type used

payment_type
1    13606
2     5943
3       87
4       26
Name: count, dtype: int64

In [27]:
# now outputting the most common payment type used per time of day
pickup_payment_data.groupby(['time_of_day', 'payment_type']).size().groupby(level=0,observed=True).nlargest(1).reset_index(level=0, drop=True)
# so, the most common payment type used per time of day is 1 in the morning, afternoon and evening.

C:\Users\El-Wattaneya\AppData\Local\Temp\ipykernel_11348\3206633938.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  pickup_payment_data.groupby(['time_of_day', 'payment_type']).size().groupby(level=0,observed=True).nlargest(1).reset_index(level=0, drop=True)

time_of_day  payment_type
morning      1               4626
afternoon    1               4205
evening      1               4775
dtype: int64

#### Extracting the average tip amount per passenger count

In [92]:
data.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,imp_surcharge,pickup_location_id,dropoff_location_id,zone_id,zone_name,borough,zone_geom,exact_hour,time_of_day
0,1,2018-05-11 17:40:16,2018-05-11 17:55:35,1,1.60,1,11.5,1.0,0.5,0.00,0.0,0.3,48,68,48,Clinton East,Manhattan,"POLYGON((-73.9907263629999 40.7559504059999, -...",17,afternoon
1,2,2018-03-22 23:01:41,2018-03-22 23:25:36,1,9.52,1,28.5,0.5,0.5,5.96,0.0,0.3,138,230,138,LaGuardia Airport,Queens,MULTIPOLYGON(((-73.8728849699182 40.7859626331...,23,evening
2,2,2018-07-24 09:58:45,2018-07-24 10:22:37,1,2.17,1,15.5,0.0,0.5,1.50,0.0,0.3,234,48,234,Union Sq,Manhattan,"POLYGON((-73.9899776669999 40.7349792549999, -...",9,morning
3,2,2018-12-21 18:28:55,2018-12-21 18:35:45,1,0.86,2,6.0,1.0,0.5,0.00,0.0,0.3,79,125,79,East Village,Manhattan,"POLYGON((-73.9834436359999 40.7220185069999, -...",18,evening
4,1,2018-08-15 13:58:39,2018-08-15 14:05:25,1,0.30,2,5.5,0.0,0.5,0.00,0.0,0.3,233,233,233,UN/Turtle Bay South,Manhattan,MULTIPOLYGON(((-73.9642119246275 40.7466666768...,13,afternoon

In [28]:
# calculating the average tip amount per passenger count
# tripdata= pd.DataFrame(tripdata)
# tripdata.groupby('passenger_count')['tip_amount'].mean()
# Cassandra:

results_count = list(session.execute("select passenger_count, tip_amount from taxitrip"))
results_count = pd.DataFrame(results_count)
results_count.groupby('passenger_count')['tip_amount'].mean()

passenger_count
0    1.951648
1    1.849250
2    1.839283
3    1.776507
4    1.973111
5    1.929772
6    1.978378
Name: tip_amount, dtype: float64

#### Extracting the top 5 pick-up locations

In [29]:
# I will extract the column zone_name from the table taxitrip and treat it as if it's a normal dataframe
# I will then use the groupby function to group the data by the pickup_location_name and then use the count function to count the number of trips in each location to get the most 5 popular locations

zoneName = session.execute("select pickup_location_name from taxitrip")
zoneName = pd.DataFrame(zoneName)
zoneName = zoneName.groupby('pickup_location_name').size().reset_index(name='counts') # reset_index to convert the series to a dataframe
zoneName = zoneName.sort_values(by='counts', ascending=False)
print(zoneName.head(5))

          pickup_location_name  counts
137      Upper East Side South     806
86              Midtown Center     757
136      Upper East Side North     722
130  Times Sq/Theatre District     705
87                Midtown East     686

# Mongo Task

In [13]:
#imports
# !pip install pymongo

from pymongo import MongoClient
from pymongo.errors import BulkWriteError
from bson.json_util import dumps
from datetime import datetime
from pymongo import UpdateOne
import urllib.parse
import pandas as pd

In [14]:
username = urllib.parse.quote_plus('janaelkasaby')
password = urllib.parse.quote_plus("MariamJanaGiu2024")

url = "mongodb+srv://janaelkasaby:MariamJanaGiu2024@cluster0.bbrt9pu.mongodb.net/Cluster0?retryWrites=true&w=majority".format(username, password)
cluster = MongoClient(url)

db = cluster["Cluster0"]
collection = db["collectionProj01"]

ConfigurationError: The resolution lifetime expired after 21.158 seconds: Server Do53:192.168.1.1@53 answered The DNS operation timed out.; Server Do53:192.168.1.1@53 answered The DNS operation timed out.; Server Do53:192.168.1.1@53 answered The DNS operation timed out.; Server Do53:192.168.1.1@53 answered The DNS operation timed out.; Server Do53:192.168.1.1@53 answered The DNS operation timed out.; Server Do53:192.168.1.1@53 answered The DNS operation timed out.; Server Do53:192.168.1.1@53 answered The DNS operation timed out.

#### Inserting Data into my Collection

In [ ]:
collection.insert_many(tripdata)

#### Calculating duration for each trip and adding it as a new field in my database

In [ ]:
#Calculate the duration for each trip and add it as a new field in your database

# Define the pipeline for aggregation
pipeline1 = [
    {
        "$project": {
            "_id": 1,
            "pickup_datetime": {"$toDate": "$pickup_datetime"},
            "dropoff_datetime": {"$toDate": "$dropoff_datetime"}
        }
    },
    {
        "$addFields": {
            "trip_duration_minutes": {"$divide": [{"$subtract": ["$dropoff_datetime", "$pickup_datetime"]}, 60000]}
        }
    }
]

# Aggregate data to calculate trip duration
result = list(collection.aggregate(pipeline1))

# Bulk write operations to update documents in the collection
bulkOptr1 = [
    UpdateOne({"_id": trip["_id"]}, {"$set": {"trip_duration_minutes": trip["trip_duration_minutes"]}})
    for trip in result
]

# Executing bulk write operations to update the collection
try:
    result = collection.bulk_write(bulkOptr1)
    print("Successfully updated trip duration for", result.modified_count, "documents.")
except BulkWriteError as bwe:
    print("Bulk write error:", bwe.details)

,zone_id,zone_name,borough,zone_geom
0,1,Newark Airport,EWR,"POLYGON((-74.1856319999999 40.6916479999999, -..."
1,3,Allerton/Pelham Gardens,Bronx,"POLYGON((-73.848596761 40.8716707849999, -73.8..."
2,18,Bedford Park,Bronx,"POLYGON((-73.8844286139999 40.8668003789999, -..."
3,20,Belmont,Bronx,"POLYGON((-73.8839239579998 40.8644177609999, -..."
4,31,Bronx Park,Bronx,"POLYGON((-73.8710017319999 40.8572767429999, -..."

#### Calculating the total trip cost and adding it as a new field in my collection

In [21]:
# Use “fare_amount”, “extra”, “mta_tax”, “tip_amount”, “tolls_amount” and “imp_surcharge” to calculate the total trip cost and add it as a new field in your database.

pipeline2 = [
    {
        "$addFields": {
            "totalTripCost": {
                "$add": ["$fare_amount", "$extra", "$mta_tax", "$tip_amount", "$tolls_amount", "$imp_surcharge"]
            }
        }
    }
]

# Aggregate data to calculate total trip cost
result2 = list(collection.aggregate(pipeline2))

# Prepare bulk write operations to update documents in the collection
bulkOptr2 = [
    UpdateOne({"_id": trip["_id"]}, {"$set": {"totalTripCost": trip["totalTripCost"]}})
    for trip in result2
]

# Execute bulk write operations to update the collection
try:
    result2 = collection.bulk_write(bulkOptr2)
    print("Successfully updated total trip cost for", result2.modified_count, "documents.")
except BulkWriteError as bwe:
    print("Bulk write error:", bwe.details)

Successfully updated total trip cost for 0 documents.

#### Detecting the most common payment type used per time of day

In [ ]:
# What is the most common payment type used per time of day? Hint: time of day meaning morning, afternoon or evening

In [23]:
pipeline3 = [
    {
        "$project": { #passes on the the next stage in the pipeline the specific fields that I dictate
            "payment_type": 1, #a non-zero value says include
            "pickup_datetime": {"$toDate": "$pickup_datetime"}
        }
    },
    {
        "$addFields": {
            "hour_of_day": {"$hour": "$pickup_datetime"} #extract hout from the date
        }
    },
    {
        "$addFields": {
            "time_of_day": {
                "$switch": {
                    "branches": [
                        {"case": {"$lt": ["$hour_of_day", 12]}, "then": "morning"},
                        {"case": {"$lt": ["$hour_of_day", 18]}, "then": "afternoon"},
                        {"case": {"$gte": ["$hour_of_day", 18]}, "then": "evening"}
                    ],
                    "default": "unknown"
                }
            }
        }
    },
    {
        "$group": {
            "_id": {
                "time_of_day": "$time_of_day",
                "payment_type": "$payment_type"
            },
            "count": {"$sum": 1}
        }
    },
    {
        "$sort": {"_id.time_of_day": 1, "count": -1} #sort by time of day ascendingly then by count descendingly
    },
     {
        "$group": {
            "_id": "$_id.time_of_day",
            "most_common_payment_type": {"$first": "$_id.payment_type"}
        }
    }
]

# Execute the aggregation pipeline
result_f = list(collection.aggregate(pipeline3))

# Print the results
for entry in result_f:
    print("Time of Day:", entry["_id"])
    print("Most Common Payment Type:", entry["most_common_payment_type"])
    print("----------------------------------------")

Time of Day: afternoon
Most Common Payment Type: 1
----------------------------------------
Time of Day: evening
Most Common Payment Type: 1
----------------------------------------
Time of Day: morning
Most Common Payment Type: 1
----------------------------------------

#### Average tip per Passenger Count

In [22]:
pipeline4 = [
    {
        "$project": {
            "passenger_count": 1,
            "tip_amount":1
        }
    },
    {
        "$group": {
            "_id" : "$passenger_count", #specifies what I'm grouping by
            "average_tip": {"$avg": "$tip_amount"}
        }
    }
]

# Execute the aggregation pipeline
result_g = list(collection.aggregate(pipeline4))

# Print the results
for entry in result_g:
    print("Passenger Count:", entry["_id"])
    print("Average Tip:", entry["average_tip"])
    print("----------------------------------------")

Passenger Count: 2
Average Tip: 1.8392830188679246
----------------------------------------
Passenger Count: 1
Average Tip: 1.8492495336490171
----------------------------------------
Passenger Count: 3
Average Tip: 1.7765071770334928
----------------------------------------
Passenger Count: 0
Average Tip: 1.9516483516483516
----------------------------------------
Passenger Count: 5
Average Tip: 1.9297716894977168
----------------------------------------
Passenger Count: 4
Average Tip: 1.9731111111111113
----------------------------------------
Passenger Count: 6
Average Tip: 1.9783783783783784
----------------------------------------

#### Top 5 Best Pickup Locations

In [20]:
pipeline5 = [
    {
        "$project": { #passes on the the next stage in the pipeline the specific fields that I dictate
            "pickup_location_name": 1, #a non-zero value says include
        }
    },
    {
        "$group": {
            "_id": "$pickup_location_name",
            "frequency": {"$sum": 1}
        }
    },
    {
        "$sort": {"frequency": -1} #sort by time of day ascendingly then by count descendingly
    },
]

# Execute the aggregation pipeline
result_h = list(collection.aggregate(pipeline5))

# Print the results
for i in range(5):
    print("Most Common places:", result_h[i]["_id"])
    print("Frequency:", result_h[i]["frequency"])
    print("----------------------------------------")

Most Common places: Upper East Side South
Frequency: 806
----------------------------------------
Most Common places: Midtown Center
Frequency: 757
----------------------------------------
Most Common places: Upper East Side North
Frequency: 722
----------------------------------------
Most Common places: Times Sq/Theatre District
Frequency: 705
----------------------------------------
Most Common places: Midtown East
Frequency: 686
----------------------------------------

#### Bonus

In [ ]:
import seaborn as sns
import numpy as np

In [ ]:
correlation_data = list(collection.find({},{"tip_amount": 1, "trip_distance": 1}))

In [ ]:
df = pd.DataFrame(correlation_data, columns=["id","trip_distance", "tip_amount"])

In [ ]:
sns.scatterplot(data=df, x="trip_distance", y="tip_amount")

According to the scatter plot there is a slight correlation between the 2 generally a shorter trip means less of a tip amount

In [ ]:
sns.lineplot(data=df, x="trip_distance", y="tip_amount")

# Set the title and labels
plt.title('Tip Amount vs. Trip Distance')
plt.xlabel('Trip Distance')
plt.ylabel('Tip Amount')

# Show the plot
plt.show()

In [ ]:
#visualization f
import matplotlib.pyplot as plt
# What is the most common payment type used per time of day?
# Hint: time of day meaning morning, afternoon or evening

# Group by time_of_day and payment_type
grouped_data = data.groupby(['pickup_payment_data', 'payment_type']).size().unstack()

# Plotting grouped bar chart
grouped_data.plot(kind='bar', figsize=(10, 6))
plt.title('Most Common Payment Type Used per Time of Day')
plt.xlabel('Time of Day')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.legend(title='Payment Type')
plt.show()

In [ ]:
#visualization g
import matplotlib.pyplot as plt
df_g = pd.DataFrame(result_g, columns=["_id", "average_tip"])
plt.bar(df_g["_id"],df_g["average_tip"], color ='plum', width = 0.4)

plt.xlabel("Passenger Count")
plt.ylabel("Average Tip")
plt.title("Average Tip per Passenger Count")
plt.show()

In [ ]:
#visualization h
import matplotlib.pyplot as plt
top_ten = []
for i in range(10):
  top_ten = top_ten + [{"location": result_h[i]["_id"], "frequency": int(result_h[i]["frequency"])}]

top_ten[0]

In [ ]:
df_h = pd.DataFrame(top_ten, columns=["location", "frequency"])
fig, ax = plt.subplots(figsize =(16, 9))

ax.barh(df_h["location"], df_h["frequency"], color="pink")

#padding
ax.xaxis.set_tick_params(pad = 5)
ax.yaxis.set_tick_params(pad = 10)

ax.set_xlabel("Zone Name")
ax.set_ylabel("Frequency")
ax.set_title("Popularity of each Zone")
plt.show()